<%@ page contentType="text/html; charset=UTF-8" %>
<%
request.setCharacterEncoding("UTF-8");

// list.jsp에서 넘어온 값 받기
String id = request.getParameter("id");
String title = request.getParameter("title");
String writer = request.getParameter("writer");
String content = request.getParameter("content");
%>

<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>

<h2>글 수정</h2>

<form action="edit_ok.jsp" method="post">

    <input type="hidden" name="id" value="<%= id %>">

    제목: <input type="text" name="title" value="<%= title %>"><br><br>
    작성자: <input type="text" name="writer" value="<%= writer %>"><br><br>

    내용:<br>
    <textarea name="content" rows="5" cols="40"><%= content %></textarea><br><br>

    <button type="submit">저장</button>
</form>

</body>
</html>
